---
import Layout1 from "../layouts/Layout1.astro";
---
<Layout1>
<h1>Kontakta oss</h1>

<style>
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
</style>
</Layout1>