---
import Layout from "../layouts/Layout.astro";
import Produkt from "../components/Produkt.astro";
---
<Layout>
    <h1>
        Våra produkter
    </h1>
    <div id="datorer">
        <a href="Produkt1.html">
            <div>
                <Produkt
                name="RXI-57"
                pictureName="6905979_0.webp"
                cpu="i5 14400f"
                gpu="4060 ti"
                ram="32GB"
                lagring="2TB"
                description="dator"
                pris="23467"
                />
            </div>
        </a>
        <a href="Produkt2.html">
            <div>
                <Produkt
                name="RXI-57"
                pictureName="6905979_0.webp"
                cpu="i5 12400f"
                gpu="4060"
                ram="16GB"
                lagring="2TB"
                description="noels dator"
                pris="23467"
                />
            </div>
        </a>
        <a href="Produkt3.html">
            <div>
                <Produkt
                name="RXI-57"
                pictureName="6905979_0.webp"
                cpu="i5 14400f"
                gpu="4060 ti"
                ram="32GB"
                lagring="2TB"
                description="dator"
                pris="23467"
                />
            </div>
        </a>
        
        
    </div>
</Layout>

<style>
    #datorer {
        gap: 10px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #datorer a{
        text-decoration: none;
        color: black;
    }
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        background-color: #2b83f9;
        padding: 10px;
        color: white;
        box-shadow: var(--shadow);
    }

</style>