---
import Layout from "../layouts/Layout.astro";
import Produkt from "../components/Produkt.astro";
---
<Layout>
    <h1>
        Våra produkter
    </h1>
    <div id="datorer">
        <div>
            <Produkt
            name="RXI-57"
            pictureName="6905979_0.webp"
            cpu="i9"
            gpu="1050"
            ram="16GB"
            lagring="2TB"
            description="noels dator"
            pris="23467"
            />
        </div>
        <div>
            <Produkt
            name="RXI-56"
            pictureName="6905979_0.webp"
            cpu="i9"
            gpu="1050"
            ram="16GB"
            lagring="2TB"
            description="noels dator"
            pris="23467"
            />
        </div>
        <div>
            <Produkt
            name="RXI-56"
            pictureName="6905979_0.webp"
            cpu="i9"
            gpu="1050"
            ram="16GB"
            lagring="2TB"
            description="noels dator"
            pris="23467"
            />
        </div>
        <div>
            <Produkt
            name="RXI-56"
            pictureName="6905979_0.webp"
            cpu="i9"
            gpu="1050"
            ram="16GB"
            lagring="2TB"
            description="noels dator"
            pris="23467"
            />
        </div>
        <div>
            <Produkt
            name="RXI-56"
            pictureName="6905979_0.webp"
            cpu="i9"
            gpu="1050"
            ram="16GB"
            lagring="2TB"
            description="noels dator"
            pris="23467"
            />
        </div>
        <div>
            <Produkt
            name="RXI-56"
            pictureName="6905979_0.webp"
            cpu="i9"
            gpu="1050"
            ram="16GB"
            lagring="2TB"
            description="noels dator"
            pris="23467"
            />
        </div>
        <div>
            <Produkt
            name="RXI-56"
            pictureName="6905979_0.webp"
            cpu="i9"
            gpu="1050"
            ram="16GB"
            lagring="2TB"
            description="noels dator"
            pris="23467"
            />
        </div>
        <div>
            <Produkt
            name="RXI-56"
            pictureName="6905979_0.webp"
            cpu="i908"
            gpu="1050"
            ram="16GB"
            lagring="2TB"
            description="noels dator"
            pris="23467"
            />
        </div>
    </div>
</Layout>

<style>
    #datorer {
        gap: 10px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        background-color: #2b83f9;
        padding: 10px;
        color: white;
        box-shadow: var(--shadow);
    }

</style>