---
import Layout from "../layouts/Layout.astro";
import Produkt from "../components/Produkt.astro";
---
<Layout>
    <div id="datorer">
        <div>
            <Produkt
            name="RXI-56"
            pictureName="6905979_0.webp"
            cpu="i9"
            gpu="1050"
            ram="16GB"
            lagring="2TB"
            description="noels dator"
            pris="23467"
            />
        </div>
        <div>
            <Produkt
            name="RXI-56"
            pictureName="6905979_0.webp"
            cpu="i9"
            gpu="1050"
            ram="16GB"
            lagring="2TB"
            description="noels dator"
            pris="23467"
            />
        </div>
        <div>
            <Produkt
            name="RXI-56"
            pictureName="6905979_0.webp"
            cpu="i9"
            gpu="1050"
            ram="16GB"
            lagring="2TB"
            description="noels dator"
            pris="23467"
            />
        </div>
        <div>
            <Produkt
            name="RXI-56"
            pictureName="6905979_0.webp"
            cpu="i9"
            gpu="1050"
            ram="16GB"
            lagring="2TB"
            description="noels dator"
            pris="23467"
            />
        </div>
        <div>
            <Produkt
            name="RXI-56"
            pictureName="6905979_0.webp"
            cpu="i9"
            gpu="1050"
            ram="16GB"
            lagring="2TB"
            description="noels dator"
            pris="23467"
            />
        </div>
        <div>
            <Produkt
            name="RXI-56"
            pictureName="6905979_0.webp"
            cpu="i9"
            gpu="1050"
            ram="16GB"
            lagring="2TB"
            description="noels dator"
            pris="23467"
            />
        </div>
        <div>
            <Produkt
            name="RXI-56"
            pictureName="6905979_0.webp"
            cpu="i9"
            gpu="1050"
            ram="16GB"
            lagring="2TB"
            description="noels dator"
            pris="23467"
            />
        </div>
        <div>
            <Produkt
            name="RXI-56"
            pictureName="6905979_0.webp"
            cpu="i908"
            gpu="1050"
            ram="16GB"
            lagring="2TB"
            description="noels dator"
            pris="23467"
            />
        </div>
    </div>
</Layout>

<style>
    #datorer {
        gap: 10px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }


</style>