---
import Layout from "../layouts/Layout.astro";
import Produkt from "../components/Produkt.astro";
---
<Layout>
    <h1>
        Våra produkter
    </h1>
    <div id="datorer">
        <a href="Produkt1.html">
            <div>
                <Produkt
                name="RTI-546TI"
                pictureName="Product13.webp"
                cpu="i5-13600K"
                gpu="NVIDIA RTX 4060TI"
                ram="32GB DDR5"
                lagring="1TB"
                description="Snabb speldator för dig på en budget"
                pris="15500"
                />
            </div>
        </a>
        <a href="Produkt2.html">
            <div>
                <Produkt
                name="RTR-747TS"
                pictureName="Product11.webp"
                cpu="Ryzen 7 7800X3D"
                gpu="NVIDIA RTX 4070TI-SUPER"
                ram="32GB DDR5"
                lagring="1TB"
                description="Kraftfull dator för spelande"
                pris="25000"
                />
            </div>
        </a>
        <a href="Produkt3.html">
            <div>
                <Produkt
                name="RXI-57"
                pictureName="Prod2.webp"
                cpu="i5-12400F"
                gpu="AMD RADEON RX6600"
                ram="16GB DDR4"
                lagring="1TB"
                description="En prisvärd och kraftfull dator"
                pris="9500"
                />
            </div>
        </a>
        
        
        
    </div>
</Layout>

<style>
    #datorer {
        gap: 10px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #datorer a{
        text-decoration: none;
        color: black;
    }
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        background-color: #2b83f9;
        padding: 10px;
        color: white;
        box-shadow: var(--shadow);
    }

</style>