<div id="form">
    <form action="https://formsubmit.co/nils.otto.jonasson@icloud.com" method="post">
        <textarea id="m1" name="Name" cols="50" rows="2" placeholder="Namn"/>
        <br>
        <textarea id="m1" name="Email" cols="50" rows="3" placeholder="E-postadress" />
        <br>
        <textarea id="m1" name="Message" cols="50" rows="10" placeholder="Meddelande" />
        <br>
        <br>
        <br>
        <input id="skicka" type="submit">
    </form>
</div>


<style>
#form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#m1{
    background-color: ;
    box-shadow: var(--shadow);
    width: 800px
}

#skicka{
    color: white;
    background-color: #2b83f9;
    border-radius: 20px;
    padding: 10px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-self: center;
    box-shadow: var(--shadow);
    transition: 0.2s;
    font-size: large;
    margin-bottom: 60px;
}
#skicka:hover{
    box-shadow: 5px 5px 20px rgb(0 0 0 / 0.6);
    transition: 0.2s;
    padding: 12px;
    padding-left: 205px;
    padding-right: 205px;
    margin-bottom: 56px;
}

@media screen and (max-width: 900px) {
    #skicka{
        padding-left: 150px;
        padding-right: 150px;
    }
    #m1{
        width: 100%;
    }
}

</style>
